html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
    font-family: 'Noto Serif', serif;
}

body {
    background: center / cover no-repeat url("../images/background-lightened.jpg");
}